.container {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    margin-top: 10px;
    padding: 140px;

}

.image {
    width: 100px;
    height: 100px;
    margin-left: -200px;

}

.message {
    font-family: 'Lucida Sans Regular' , 'Lucida Grande';
    font-size: 16px;
    text-align: left;
    color: #A7A6A6;
    margin-left: 50px;
    margin-right: -50px;
    margin-bottom: 80px;
}

.message h4 {
    text-align: center;
}

