.container {
    padding: 90px;
    background: linear-gradient(to right, rgb(250,214,116), rgb(180,237,128));
    display: flex;
    justify-content: center;
  }

.grow img{
    transition: 1s ease;
    }
    
.grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }


  
  