.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  gap: 50px;
}

.navbarActions {
  display: flex;
  margin-top: 20px;
  margin-left: -300px;
  gap: 50px;
}

.searchbar {
  width: 100%;
  max-width: 250px;
  background-color: rgba(136, 153, 166, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 2px 5px;
  margin-top: 10px;
}

.searchbar input{
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 7px;
  font-size: 15px;
  color: rgb(32, 30, 30);
}

.searchbar button img {
  width: 12px;
}

.searchbar button{
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background:rgba(25, 27, 28, 0.2);
  cursor: pointer;
}

.searchbar ::placeholder {
  font-size: 12px;
}

.navbarActions button {
    background-color: transparent;
    color: black;
    font-size: 22px;
    border: none;
    cursor: pointer;
    font-weight: bold;
 
}

.navbarActions button:hover {
  text-decoration: underline;
}