.rect1{
    display: flex;  
    box-sizing: border-box;
    width: 1122px;
    height: 65px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    justify-content: center;
}
    

.rect2{
    display: flex;
    padding: 18px;
    background: linear-gradient(98.69deg, #FAD674 2.28%, #B4ED80 88.62%);
    justify-content: center;
}


.rect2 img {
    display: flex;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 4px;
}

.text3 p{
    display: flex;
    font-size: 20px;
    font-style: fantasy;
    margin-left: 20px;
    margin-top: 10px;
}

.text3 h4 {
    text-align: right;
    margin-top: -20px;
    font-style: fantasy;
}